<section data-ng-controller="HomeController">

    <div id="top" class="container">


        <div class="panel panel-default">
            <div class="panel-heading">
                <form class="form-inline" data-ng-submit="search()">
                    <legend>Search sindodo...</legend>
                    <div class="form-group">
                        <select data-ng-model="country" class="form-control" bootstrap-select auto-width="true">
                            <option>Country</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select data-ng-model="state" class="form-control">
                            <option>--State--</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select data-ng-model="category" class="form-control">
                            <option>--Category--</option>
                        </select>
                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control col-md-5" placeholder="Enter keywords here"
                               data-ng-model="keywords">
                    </div>


                    <button type="submit" class="btn btn-info " ng-hide="searching"><span class="fa fa-search"></span>
                        Search
                    </button>
                    <button type="submit" class="btn btn-info " ng-show="searching"><i
                            class="fa fa-refresh fa-spin"></i> Getting results...
                    </button>
                </form>
            </div>
            <div class="panel-body list-group " id="item-list">
                <div ng-repeat="post in postings" class="list-group-item" id="item-{{$index}}">
                    <h4 class="text-info"><a href="{{post.external_url}}" ng-click="showDetails()"><span class="fa fa-caret-square-o-right"></span> {{post.heading}}</a> </h4>
                    <section class="well well-sm">

                        <p class="text--muted"><strong class="label label-info"><span class="fa fa-info-circle"></span> SPECS: </strong> &nbsp; &nbsp; {{post.body | cut:true:120:' ...'}}</p>

                        <p>
                        <span ng-repeat="(key, value) in getAnotation(post.annotations)" class="badge">
                            {{key}}:{{ value }}
                        </span>
                        </p>
                    </section>

                </div>
                <div ng-if="postings.length > 0" class="row center-block">
                    <pagination ng-click="setPage(bigCurrentPage); goUp()" total-items="bigTotalItems"
                                ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"
                                rotate="false" num-pages="numPages"></pagination>
                    <pre class="col-md-12">Page: {{bigCurrentPage}} of {{numPages | number:0}}</pre>
                </div>


                <div class="alert " role="alert" data-ng-show="visible">
                    <h3 class="lead text-center text-success" >A fast rising platform to receive search results and notifications from
                        craiglist</h3>
                    <hr>

                    <div class="row text-center">
                        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                            <h4 class="service-heading">Search sindodo</h4>

                            <p class="text-muted">
                                Use our search tool to search for your favourite car on craiglist, u can use filters to
                                narrow your search,sign up to access our premium services.
                            </p>
                        </div>

                        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plus-square fa-stack-1x fa-inverse"></i>
                    </span>
                            <h4 class="service-heading"><i class="fa fa-bell-o"></i> Create a noty</h4>

                            <p class="text-muted">Can't find what you're looking for on craigist? Sign up or Sign in if
                                you're a registered user to create a notifier for the
                                car you're searching for. </p>
                        </div>


                        <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                            <h4 class="service-heading">We Notify you</h4>
                            <ul class="text-muted">
                                <p>Once a car that matches your choice is available on craiglist, we message you via your email and
                                    mobile, it doesn't matter if you're online or offline at this stage.</p>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <hr>

</section>
