
html {
    font-family: 'Crimson Text', serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}
body{
    padding-top: 70px;
}
.navbar{
    border-top:15px solid #3F7DA1;
}
.content {
    margin-top: 15px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
    display: block;
}

.custom-colour{
    color:#3F7DA1;
}




/*Footer Style*/

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #3F7DA1;
    color: #ffffff;
}

footer span.copyright {

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
footer a{
    text-decoration: none;
    color:#fff;
}
footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    background-color: #fff;
    color:  #39B1D6;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    color: #fff;
    background-color:  #39B1D6;
}





